body {
  background-color: white;
  font-family: sans-serif;
}

.container {
  display: flex;
  border: 1px solid;
  overflow: hidden;
  resize: horizontal;
  margin-bottom: 100px;
  width: 250px;
  height: 250px;
}
.wrapper {
  font-size: 17px;
  font-weight: bold;
  color: #251c3d;
}
.float {
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 100px) 0 0);
}

.box{
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
}